<a href="https://colab.research.google.com/github/guilhermelaviola/PredictiveModel/blob/main/PredictiveModel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Importing all the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
# Importing the dataframe (df) and displaying it
df = pd.read_csv("sales_california.csv")
df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL_RAINFALL,FLOODS
0,Sacramento,1947,5264.8,1654.4,382.6,6693.9,4364.7,3297.2,96.9,7125.8,7731.6,5446.9,9815.0,9307.8,57146.2,False
1,Sacramento,1948,4888.7,9959.3,3591.5,4845.1,9811.5,4929.2,6976.1,7292.2,4270.3,2215.1,9106.9,7647.6,6882.5,True
2,Sacramento,1949,8615.3,6641.9,6733.5,6606.3,2616.9,854.7,5686.3,7295.0,5341.1,1510.5,9070.2,5269.0,65925.4,False
3,Sacramento,1950,5974.7,5770.8,7024.3,7266.3,5334.6,3526.6,5230.5,3849.0,7941.8,7819.7,2162.8,9248.4,95556.1,False
4,Sacramento,1951,8565.0,524.6,5931.8,4238.8,4163.1,812.1,7985.6,3772.6,6133.6,8181.9,8963.5,143.3,48710.4,False

In [ ]:
# Exploring the dataset
# Displaying the data type of each column, nÂ° of columns, memory sage and number of records in the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SUBDIVISION      76 non-null     object
 1   YEAR             76 non-null     int64
 2   JAN              76 non-null     float64
 3   FEB              76 non-null     float64
 4   MAR              76 non-null     float64
 5   APR              76 non-null     float64
 6   MAY              76 non-null     float64
 7   JUN              76 non-null     float64
 8   JUL              76 non-null     float64
 9   AUG              76 non-null     float64
 10  SEP              76 non-null     float64
 11  OCT              76 non-null     float64
 12  NOV              76 non-null     float64
 13  DEC              76 non-null     float64
 14  ANNUAL_RAINFALL  76 non-null     float64
 15  FLOODS           76 non-null     bool
dtypes: bool(1), float64(13), int64(1), object(1)
memory usage: 9.1+ KB

In [ ]:
# Displaying the number of table records and columns
df.shape

(76, 16)

In [ ]:
# Summarizing the dataset statistical properties, such as count, mean, min, and max
df.describe()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL_RAINFALL
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,1984.486842,5013.505263,5059.002632,5101.885526,5253.086842,4501.430263,5251.113158,4924.432895,4999.519737,5255.856579,4683.576316,5229.035526,5275.139474,56941.498684
std,22.075926,2895.472039,2852.407078,2950.341788,2911.748476,2720.386351,2621.393600,2961.013628,2719.666069,2597.367016,2900.313985,2829.557605,2886.679964,28513.021991
min,1947.000000,45.700000,139.400000,167.100000,62.600000,47.600000,303.300000,96.900000,302.400000,53.500000,7.700000,296.900000,143.300000,1930.300000
25%,1965.750000,2587.400000,2840.425000,2817.600000,3415.775000,2569.100000,3287.750000,2069.525000,2730.425000,3346.425000,2118.875000,2955.750000,2740.550000,36697.800000
50%,1984.500000,5281.750000,4489.300000,5191.850000,5024.100000,4213.300000,5503.350000,4651.900000,4642.050000,5455.950000,4801.050000,5362.100000,5448.850000,62458.150000
75%,2003.250000,7442.825000,7905.000000,7385.775000,7517.750000,6628.925000,7216.225000,7398.425000,7292.900000,6978.100000,7301.150000,7428.700000,7713.150000,80668.650000
max,2022.000000,9584.600000,9959.300000,9972.400000,9996.100000,9811.500000,9890.600000,9948.000000,9948.800000,9944.300000,9960.200000,9952.100000,9774.800000,97675.100000

In [ ]:
# Displaying the correlation between different variables in the dataset
# The closer it is to 1, the stronger is the correlation between these variables
# A minus sign means that these two variables are negatively correlated
# For example: one decreases with increasing the other, and vice versa.
df.corr()

<ipython-input-9-76de0e254dc6>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL_RAINFALL,FLOODS
YEAR,1.000000,-0.142948,-0.148369,-0.032824,-0.045069,-0.057376,0.239646,-0.075655,-0.160945,-0.044360,-0.085873,-0.011995,-0.072556,-0.112723,-0.043382
JAN,-0.142948,1.000000,0.078595,0.028928,0.059821,0.239619,-0.191670,0.175558,-0.029552,-0.082363,-0.105672,0.158149,0.250899,-0.081342,0.086684
FEB,-0.148369,0.078595,1.000000,0.115609,0.077071,0.086346,0.037066,0.061998,0.044900,0.076515,-0.193987,-0.084765,0.091397,-0.029231,0.177230
MAR,-0.032824,0.028928,0.115609,1.000000,-0.131573,0.032773,0.094524,0.090084,0.077821,-0.033942,-0.035988,-0.070263,0.112077,0.114490,-0.064446
APR,-0.045069,0.059821,0.077071,-0.131573,1.000000,-0.021449,0.209664,0.158754,0.133429,0.101687,-0.051334,0.187072,0.116024,0.001134,-0.048963
MAY,-0.057376,0.239619,0.086346,0.032773,-0.021449,1.000000,0.031931,-0.049905,-0.012737,-0.275629,-0.019893,-0.118316,0.183112,-0.130548,-0.074269
JUN,0.239646,-0.191670,0.037066,0.094524,0.209664,0.031931,1.000000,-0.071059,-0.021049,-0.025673,-0.009998,0.088914,0.248692,0.146661,-0.036244
JUL,-0.075655,0.175558,0.061998,0.090084,0.158754,-0.049905,-0.071059,1.000000,0.081650,0.090694,-0.224189,0.076014,0.042596,0.116217,0.081075
AUG,-0.160945,-0.029552,0.044900,0.077821,0.133429,-0.012737,-0.021049,0.081650,1.000000,0.170933,0.286356,0.228182,-0.083074,0.083724,0.067426
SEP,-0.044360,-0.082363,0.076515,-0.033942,0.101687,-0.275629,-0.025673,0.090694,0.170933,1.000000,0.109963,0.200929,-0.056524,-0.059662,0.147236
OCT,-0.085873,-0.105672,-0.193987,-0.035988,-0.051334,-0.019893,-0.009998,-0.224189,0.286356,0.109963,1.000000,0.096392,-0.097322,0.227980,-0.113512
NOV,-0.011995,0.158149,-0.084765,-0.070263,0.187072,-0.118316,0.088914,0.076014,0.228182,0.200929,0.096392,1.000000,0.156104,-0.048999,-0.044610
DEC,-0.072556,0.250899,0.091397,0.112077,0.116024,0.183112,0.248692,0.042596,-0.083074,-0.056524,-0.097322,0.156104,1.000000,0.021315,-0.173283
ANNUAL_RAINFALL,-0.112723,-0.081342,-0.029231,0.114490,0.001134,-0.130548,0.146661,0.116217,0.083724,-0.059662,0.227980,-0.048999,0.021315,1.000000,-0.135317
FLOODS,-0.043382,0.086684,0.177230,-0.064446,-0.048963,-0.074269,-0.036244,0.081075,0.067426,0.147236,-0.113512,-0.044610,-0.173283,-0.135317,1.000000

In [ ]:
# In order to train the following Python model. we need the values of our target
# output to be 0 and 1. So we replace the values in the FLOODS column (True, False)
# with (1, 0) respectively.
df['FLOODS'].replace([True, False], [1, 0], inplace = True)
df.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL_RAINFALL,FLOODS
0,Sacramento,1947,5264.8,1654.4,382.6,6693.9,4364.7,3297.2,96.9,7125.8,7731.6,5446.9,9815.0,9307.8,57146.2,0
1,Sacramento,1948,4888.7,9959.3,3591.5,4845.1,9811.5,4929.2,6976.1,7292.2,4270.3,2215.1,9106.9,7647.6,6882.5,1
2,Sacramento,1949,8615.3,6641.9,6733.5,6606.3,2616.9,854.7,5686.3,7295.0,5341.1,1510.5,9070.2,5269.0,65925.4,0
3,Sacramento,1950,5974.7,5770.8,7024.3,7266.3,5334.6,3526.6,5230.5,3849.0,7941.8,7819.7,2162.8,9248.4,95556.1,0
4,Sacramento,1951,8565.0,524.6,5931.8,4238.8,4163.1,812.1,7985.6,3772.6,6133.6,8181.9,8963.5,143.3,48710.4,0

In [ ]:
# Step 3: Feature Selection